{% extends 'base.html' %}
{% block main %}
    <h1>Most Bought Items</h1>
    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity Bought</th>
            </tr>
        </thead>
        <tbody>
            {% for item_name, quantity in top_five.items() %}
                <tr>
                    <td>{{ item_name }}</td>
                    <td>{{ quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
